@import 'base';
@import 'mixin';

#page_news {
    .section-inner {
        ul.news-items {
            width: 80%;
            margin: 0 auto;
            @include tab {
                width: 100%;
            }
            li.news-item {
                display: flex;
                padding: 16px;
                border-bottom: solid 1px $pink02;
                @include tab {
                    padding: 8px;
                    text-align: left;
                }
                p {
                    &.date {
                        margin-right: 24px;
                        @include tab {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
}