@import 'base';
@import 'mixin';

#page_scta {
    .section-inner {
        table.scta-table {
            width: 100%;
            border-collapse: collapse;
            text-align: left;
            tr {
                th {
                    width: 30%;
                    font-weight: 400;
                    padding: 10px 20px;
                    background-color: $pink02;
                    border: solid 1px $pink;
                    @include tab {
                        padding: 10px;
                    }
                }
                td {
                    width: 70%;
                    padding: 10px 20px;
                    border: solid 1px $pink;
                    @include tab {
                        padding: 10px;
                    }
                }
            }
        }
    }
}